@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: factor;
    src: url(fonts/factor.ttf);
}

body {
	background: #000;
	font-size: 12px;
	font-family: sans-serif;
}

#container {
	width: 960px;
	height: 640px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -320px;
	margin-left: -480px;
}

.starting-sheet {
	width: 960px;
	height: 560px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -280px;
	margin-left: -480px;
	background: #1c1c1c;
	border-radius: 5px;
}

.starting-sheet .logo {
	width: 480px;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -250px;
}

.player-button-container {
	width: 920px;
	height: 360px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: #222;
	border-radius: 10px;
	box-shadow: 0 0 5px #000 inset;
}

.player-button-container button {
	width: 210px;
	height: 340px;
	float: left;
	margin-top: 10px;
	margin-left: 16px;
	background: #333;
	border: 1px solid #444;
	border-radius: 5px;
	color: #777;
	font-size: 32px;
	box-shadow: 0 0 3px #111;
	cursor: pointer;
}

.player-button-container button:focus {
	border: 1px solid #660000;
	outline: none;
}

.player-button-container button:hover {
	background: #383838;
	text-shadow: 0 0 40px #00a6ef;
}

.player-button-container button p {
	margin-top: -30px;
}

.player-button-container button i {
	font-size: 72px;
}

.player-settings {
	width: 320px;
	height: 480px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -160px;
	background: #1c1c1c;
	box-shadow: 0 0 5px #000;
	border-top: 1px solid #222;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #222;
	border-radius: 5px;
}

.player-settings .new-portrait-frame {
	width: 180px;
	height: 180px;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -90px;
	border-radius: 100%;
	background: #1c1c1c;
	box-shadow: 0 0 10px #d4af37;
	overflow: hidden;
}

.player-settings .new-portrait-frame:before {
	content: ' ';
	width: 180px;
	height: 180px;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 10px #000 inset;
}

.new-player-form {
	width: 320px;
	height: 240px;
	position: absolute;
	bottom: 0;
}

.new-player-form input[type="text"] {
	width: 240px;
	height: 32px;
	margin-left: 40px;
	padding-left: 10px;
	background: #333;
	border: 0;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #111 inset;
	color: #aaa;
}

.new-player-form button:not(.create-button) {
	width: 70px;
	height: 100px;
	border: 1px solid #666;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 6px;
	cursor: pointer;
	box-shadow: 0 0 5px #000;
}

.new-player-form button:not(.create-button):before {
	content: ' ';
	width: 70px;
	height: 100px;
	display: block;
	box-shadow: 0 0 0 #00a6ef inset;
	transition: 0.2s;
}

.new-player-form button:not(.create-button):hover:before {
	box-shadow: 0 0 20px #00a6ef inset;
}

.new-player-form .create-button {
	width: 120px;
	height: 42px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -60px;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #1c1c1c;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: rgb(252,234,187);
	background: -moz-linear-gradient(-45deg,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: linear-gradient(135deg,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );
	transition: 0.2s;
}

.new-player-form .create-button:hover {
	background: rgb(254,245,222);
	background: -moz-linear-gradient(-45deg,  rgba(254,245,222,1) 0%, rgba(254,230,166,1) 50%, rgba(255,220,125,1) 51%, rgba(253,239,201,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(254,245,222,1)), color-stop(50%,rgba(254,230,166,1)), color-stop(51%,rgba(255,220,125,1)), color-stop(100%,rgba(253,239,201,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(254,245,222,1) 0%,rgba(254,230,166,1) 50%,rgba(255,220,125,1) 51%,rgba(253,239,201,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(254,245,222,1) 0%,rgba(254,230,166,1) 50%,rgba(255,220,125,1) 51%,rgba(253,239,201,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(254,245,222,1) 0%,rgba(254,230,166,1) 50%,rgba(255,220,125,1) 51%,rgba(253,239,201,1) 100%);
	background: linear-gradient(135deg,  rgba(254,245,222,1) 0%,rgba(254,230,166,1) 50%,rgba(255,220,125,1) 51%,rgba(253,239,201,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef5de', endColorstr='#fdefc9',GradientType=1 );
}

.player-sheet {
	width: 460px;
	height: 300px;
	background: #1c1c1c;
	border: 1px solid #555;
	box-shadow: 0 0 10px #555;
}

.reputation-highlight {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

.player-1 {
	position: absolute;
	top: 0;
	left: 0;
}

.player-2 {
	position: absolute;
	top: 0;
	right: 0;
}

.player-3 {
	position: absolute;
	bottom: 0;
	left: 0;
}

.player-4 {
	position: absolute;
	right: 0;
	bottom: 0;
}

.portrait-frame {
	width: 120px;
	height: 120px;
	border-radius: 100%;
	margin: 10px;
	box-shadow: 0 0 10px #d4af37;
	overflow: hidden;
}

.portrait-frame:before {
	content: ' ';
	width: 120px;
	height: 120px;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 10px #000 inset;
}

.profile {
	width: 300px;
	height: 100px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.profile h2 {
	color: #d4af37;
	text-transform: uppercase;
	font-family: factor, sans-serif;
	font-size: 2em;
	position: absolute;
	top: 0;
	right: 0;
}

.profile hr {
	width: 300px;
	border-color: #444;
	position: absolute;
	top: 36px;
}

.profile p {
	display: inline;
	position: absolute;
	color: #d4af37;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 1.5em;
	top: 56px;
	right: 10px;
}

.profile p:first-of-type {
	left: 10px;
}

.stats-container {
	width: 460px;
	height: 160px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.stats-container > div {
	width: 230px;
	height: 160px;
	float: left;
	color: #d4af37;
	text-align: center;
}

.stats-container > div h2 {
	font-weight: normal;
	margin-top: 20px;
}

.stats-container > div p {
	font-size: 2.5em;
	margin-top: 10px;
}

.stats-container > div button {
	width: 20px;
	height: 30px;
	font-size: 1.5em;
	margin-top: 10px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	background: rgb(212,175,55);
	background: -moz-linear-gradient(top,  rgba(212,175,55,1) 0%, rgba(203,161,53,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,175,55,1)), color-stop(100%,rgba(203,161,53,1)));
	background: -webkit-linear-gradient(top,  rgba(212,175,55,1) 0%,rgba(203,161,53,1) 100%);
	background: -o-linear-gradient(top,  rgba(212,175,55,1) 0%,rgba(203,161,53,1) 100%);
	background: -ms-linear-gradient(top,  rgba(212,175,55,1) 0%,rgba(203,161,53,1) 100%);
	background: linear-gradient(to bottom,  rgba(212,175,55,1) 0%,rgba(203,161,53,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4af37', endColorstr='#cba135',GradientType=0 );
}