<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Mage Knight Character Sheets</title>
	<link rel="stylesheet" href="css/beauty.css" />
	<script type="text/javascript" src="js/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/controllers/sheetController.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript">
		window.onbeforeunload = function() {
			return 'If you continue, you will lose your current game!';
			//var confirmation = confirm('Are you sure you want to refresh the page? You will lose your current game.');
			//return confirmation;
		}
	</script>
</head>
<body ng-app="mageKnight">

	<div class="shade" ng-show="newPlayer"></div>

	<div id="container" ng-controller="SheetCtrl" sheet-container>

		<!-- Setup Sheet -->

		<div ng-hide="gameStarted" class="starting-sheet" starting-sheet>
			<img src="images/mk-logo.png" alt="Mage Knight" class="logo" />
			<div class="player-button-container">
				<button type="button" ng-click="addPlayer(1)"><p><i>+</i><br />Add Player</p></button>
				<button type="button" ng-click="addPlayer(2)"><p><i>+</i><br />Add Player</p></button>
				<button type="button" ng-click="addPlayer(3)"><p><i>+</i><br />Add Player</p></button>
				<button type="button" ng-click="addPlayer(4)"><p><i>+</i><br />Add Player</p></button>
				<div class="player-card one" ng-show="playerOneExists"><img ng-src="{{ playerOne.portrait }}" /><h2>{{ playerOne.name }}</h2></div>
				<div class="player-card two" ng-show="playerTwoExists"><img ng-src="{{ playerTwo.portrait }}" /><h2>{{ playerTwo.name }}</h2></div>
				<div class="player-card three" ng-show="playerThreeExists"><img ng-src="{{ playerThree.portrait }}" /><h2>{{ playerThree.name }}</h2></div>
				<div class="player-card four" ng-show="playerFourExists"><img ng-src="{{ playerFour.portrait }}" /><h2>{{ playerFour.name }}</h2></div>
			</div>

			<button type="button" class="start-button" ng-click="startGame()">Begin Game</button>

			<div class="player-settings" ng-show="newPlayer">
				<span class="close-button" ng-click="closeSettings()">X</span>
				<div class="new-portrait-frame"><img ng-src="{{ newPlayer.portrait }}" /></div>
				<form method="post" class="new-player-form">
					<label for="newPlayerName"><input type="text" name="new-player-name" id="newPlayerName" placeholder="Player's Name" ng-model="newPlayer.name" /></label>
					<button type="button" style="background: url('images/goldyx.jpg') 50%;" ng-click="chooseCharacter('goldyx')"></button>
					<button type="button" style="background: url('images/tovak.jpg') 50%;" ng-click="chooseCharacter('tovak')"></button>
					<button type="button" style="background: url('images/norowas.jpg') 50%;" ng-click="chooseCharacter('norowas')"></button>
					<button type="button" style="background: url('images/arythea.jpg') 50%;" ng-click="chooseCharacter('arythea')"></button>
					<button type="button" class="create-button" ng-click="createPlayer()">Create</button>
				</form>
			</div>
		</div>

		<!-- End Setup Sheet -->

		<!-- Player Sheets -->

		<div ng-show="gameStarted" ng-repeat="player in players" class="player-sheet" ng-style="playerPosition($index)" data-owner="{{ player.name }}">
		<div class="reputation-highlight" ng-style="reputationStyles(player)"></div>
			<div class="portrait-frame"><img ng-src="{{ player.portrait }}" /></div>
			<div class="profile">
				<h2>{{ player.character }}</h2>
				<hr />
				<p>L. {{ playerLevel(player) }}</p>
				<p>{{ player.name }}</p>
			</div>
			<div class="stats-container">
				<div class="fame-container" fame-container>
					<h2>FAME</h2>
					<p>{{ player.fame }}</p>
					<button type="button" ng-click="decreaseFame(player)">-</button>
					<button type="button" ng-click="increaseFame(player)">+</button>
				</div>
				<div class="reputation-container" reputation-container>
					<h2>REPUTATION</h2>
					<p>{{ getReputation(player) }}</p>
					<button type="button" ng-click="decreaseRep(player)">-</button>
					<button type="button" ng-click="increaseRep(player)">+</button>
				</div>
			</div>
		</div>

	</div>

	<!-- End Player Sheets -->

	<!-- Notifications -->

	<div class="level-up-notification" ng-show="levelingUp">
		<span class="close-button" ng-click="levelingUp = false">X</span>
		<h2>Congratulations, <span style="text-transform: capitalize;">{{ leveledPlayer }}</span>!</h2>
		<hr />
		<p>You've leveled up! You're now level {{ newLevel }}, please perform the following tasks as the next player begins their turn:</p>
		<ul ng-show="(newLevel % 2) == 0">
			<li>Collect a new Advanced Action!</li>
			<li>Collect a new Skill!</li>
		</ul>
		<ul ng-show="(newLevel % 2) == 1">
			<li>Collect a new Command Token!</li>
		</ul>
	</div>

	<!-- End Notifications -->

</body>
</html>